<head>
	<title>JAMDO</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/skel.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/skel-layers.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/init.js')}}"></script> 
	<script src="{{ url_for('static', filename='js/checkForm.js')}}"></script>
	<script src="{{ url_for('static', filename='js/checkForm.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jamdo-ajax.js')}}"></script>
	<noscript>
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/static/css/skel.css')}}" />
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/static/css/style.css')}}" />
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/static/css/style-wide.css')}}"/>
	</noscript>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/async.css')}}"/>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/results.css')}}"/>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/inf-scroll.css')}}"/>
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
