#inf_scroll_loader{
  text-align: center;
  position:fixed;
  left:50%;
  margin-left:-35px;
  bottom:10%;
}
#inf_scroll_container{
  width:90%;
  display: block;
  margin:0 auto;
  max-width:1000px;
}
#inf_scroll_container .inf_scroll_item{
  margin: 20px 0;
  background-color:rgba(250,250,250,0.8);
  padding:2%;
  color:black
}