<ul id="form-nav">
	<li id="form-login-tab" class="form-nav_highlight">Login</li>
	<li id="form-signup-tab">Sign Up</li>
</ul>
<div id="form_container">
	<form id="login-form" class="form showForm loginForm" action="/login" method="POST" accept-charset="utf-8">
		{% if error %}
         	<p id="error_message">{{ error }}</p>
     	{% endif %}
		<label><input type="text" name="username" placeholder="Username"></label>
		<label><input type="text" name="password" placeholder="Password"></label>
		<input type="submit" value="Submit">
	</form>
	<form id="signup-form" class="form loginForm" action="/signup" method="POST" accept-charset="utf-8">
		{% if error %}
         	<p id="error_message">{{ error }}</p>
     	{% endif %}
		<label><input type="text" name="username" placeholder="Username"></label>
		<label><input type="email" name="email" placeholder="E-mail"></label>
		<label><input type="password" name="password" placeholder="Password"></label>
		<label><input type="password" name="password-confirm" placeholder="Confirm Password"></label>
		<input id='signup-form_submit' type="submit" value="Submit">
	</form>
</div>
<script type="text/javascript" charset="utf-8">
	document.querySelector('#form-login-tab').onclick = function(){showForm()};
	document.querySelector('#form-signup-tab').onclick = function(){showForm()};
	function showForm(){
		document.querySelector('#form-login-tab').classList.toggle('form-nav_highlight');
		document.querySelector('#form-signup-tab').classList.toggle('form-nav_highlight');
		document.querySelector('#signup-form').classList.toggle('showForm');
		document.querySelector('#login-form').classList.toggle('showForm');
	};
</script>