{% extends 'layout.html' %}
{%block content%}
<!-- Wrapper -->
<div class="wrapper style1">
    <!-- Banner -->
 <div class="register">	
    <form action = "{{ url_for('register') }}" method="POST">
		{% if inputError %}
		<a href="register" class="button medium">{% include "includes/__messages__.html "%}</a>
    {% endif %}
		<input type="text" placeholder="firstname" name="f" required="required">
    <input type="text" placeholder="lastname" name="l" required="required">
		<input type="text" name="u" placeholder="Username" required="required" />
    <input type="password" name="p" placeholder="Password" required="required" />
        <ul class="actions">
		<li>
		 <button type="submit" class="button">Register.</button>
		</li>
		</ul>
    </form>
</div>
    <!-- Extra -->
    <div id="extra">
        <div class="container">
        </div>
    </div>
</div>
{%endblock%}

