{% extends 'layout.html' %}
{%block content%}
<!-- Wrapper -->
<div class="wrapper style1">
    <!-- Banner -->

    <!-- Extra -->
    <div id="extra">
        <div class="container">
		     <table class="users">
        <thead class="table_header">
        <tr>
            <th class="table_title" colspan="5">
                <h2>Users</h2>
            </th>
        </tr>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody class="table_data">
       		 {% for i in users %}
               <tr>
                  <td>{{ i.id }}</td>
                  <td>{{ i.username }}</td>
                  <td>{{ i.password }}</td>
               </tr>
            {% endfor %}
    		</tbody>
    </table>
		  <section>
					<header class="major">
						<a href="#" class="button medium">{% include "includes/__messages__.html "%}</a>
						<h2>Delete User By ID or By Username</h2>
					</header>
					<form method="post" action="#">
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="id_number" id="id" placeholder="id" />
							</div>
                     <div class="12u">
								<input class="text" type="text" name="u" id="user_name" placeholder="username"  />
							</div>
						</div>
                  
						<div class="row half">
							<div class="12u">
								<ul class="actions">
									<li>
										<input type="submit" value="Delete User" class="button alt" />
									</li>
								</ul>
							</div>
						</div>
					</form>
				</section>
        </div>
    </div>
</div>
{%endblock%}

